<%#= form_with(model: point_file, local: true) do |form| %>
<div class="col-sm-11">
<%= form_for [project, point_file] do |f| %>

    <% input_disabled ||= false  
       #if input_disabled is not passed to the partial it doesn't crash. 
       # We default it to false 
    %>

    <%= form_errors_for point_file %>

    <% if true %> <!-- #policy(:point_file).create? %> -->
      <div class="row">
        <div class="col-sm-6">
          <div class="row">

            <div class="form-group col-sm-6">
              <%= f.label :status, class: 'control-label' %>
              <%= f.select :status, 
                    PointFile.statuses.keys.map {|status| [status.titleize, status]},
                    { include_blank: false }, 
                    { autofocus: true, class: 'form-control input-sm', disabled: input_disabled } %>
            </div>

            <div class="form-group col-sm-6">
              <%= f.label :load_date, class: 'control-label' %>
              <%= f.date_select :load_date, class: 'form-control input-sm', disabled: input_disabled %>
            </div>

            <div class="form-group col-sm-12">
              <%= f.label :load_file, class: 'control-label' %>
              <%= f.file_field :load_file, class: 'form-control input-sm', disabled: input_disabled %>
            </div>

          </div>  <!-- /row -->
        </div>  <!-- /col-sm-6 -->


        <div class="col-sm-6">
          <div class="row">
            <div class="form-group col-sm-12">
              <%= f.label :note, class: 'control-label' %>
              <%= f.text_area :note, :rows => 5, class: 'form-control input-sm', disabled: input_disabled %>
            </div>
          </div> <!-- /row -->
        </div> <!--/col-sm-6 -->

      </div>  <!-- /row -->
    <% end %>


    <hr class="hr-without-top-margin">


    <% if input_disabled %>
      <!-- for "Show" -->
    <% else %>
      <!-- form "New"/"Edit" -->
      <div class="row">
        <%= link_to t('Index', default: t("helpers.links.index")), project_point_files_path, :class => 'btn btn-default glyphicon glyphicon-th-list' %>

        <%= link_to t('Back', default: t("helpers.links.back")), :back, :class => 'btn btn-default glyphicon glyphicon-arrow-left' %>

        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div> <!-- /row -->
    <% end %>
    
  <% end %>

</div> <!--/col-sm-11-->
