<div class="col-sm-12">
  <table id="point_file-ww_points-table" class="hover cell-border compact" data-source="<%= datatables_index_ww_point_project_point_files_path(point_file_id: @point_file.id, format: :json) %>">
    <thead>
      <tr>
        <th>ID</th>
        <th><%= WwPoint.human_attribute_name(:ww_2)  %></th>
        <th><%= WwPoint.human_attribute_name(:ww_3)  %></th>
        <th><%= WwPoint.human_attribute_name(:ww_4)  %></th>
        <th><%= WwPoint.human_attribute_name(:ww_5)  %></th>
        <th><%= WwPoint.human_attribute_name(:ww_6)  %></th>
        <th><%= WwPoint.human_attribute_name(:ww_7)  %></th>
        <th><%= WwPoint.human_attribute_name(:ww_8)  %></th>
        <th><%= WwPoint.human_attribute_name(:ww_9)  %></th>
        <th><%= WwPoint.human_attribute_name(:ww_10) %></th>
        <th><%= WwPoint.human_attribute_name(:ww_11) %></th>
        <th><%= WwPoint.human_attribute_name(:ww_12) %></th>
        <th><%= WwPoint.human_attribute_name(:ww_13) %></th>
        <th><%= WwPoint.human_attribute_name(:ww_14) %></th>
        <th><%= WwPoint.human_attribute_name(:ww_15) %></th>
        <th><%= WwPoint.human_attribute_name(:ww_16) %></th>
      </tr>
    </thead>
    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->
