<div class="col-sm-12">
  <table id="point_file-zs_points-table" class="hover cell-border compact" data-source="<%= datatables_index_zs_point_project_point_files_path(point_file_id: @point_file.id, format: :json) %>">
    <thead>
      <tr>
        <th>ID</th>
        <th><%= ZsPoint.human_attribute_name(:zs_2)  %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_3)  %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_4)  %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_5)  %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_6)  %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_7)  %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_8)  %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_9)  %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_10) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_11) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_12) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_13) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_14) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_15) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_16) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_17) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_18) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_19) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_20) %></th>
        <th><%= ZsPoint.human_attribute_name(:zs_21) %></th>
      </tr>
    </thead>
    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->
