<%= form_with(model: opinion, local: true) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
      <% opinion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :opinion_project_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :opinion_user_id %>
  </div>

  <div class="field">
    <%= form.label :sec22_rate %>
    <%= form.check_box :sec22_rate, id: :opinion_sec22_rate %>
  </div>

  <div class="field">
    <%= form.label :sec22 %>
    <%= form.text_area :sec22, id: :opinion_sec22 %>
  </div>

  <div class="field">
    <%= form.label :sec23_rate %>
    <%= form.check_box :sec23_rate, id: :opinion_sec23_rate %>
  </div>

  <div class="field">
    <%= form.label :sec23 %>
    <%= form.text_area :sec23, id: :opinion_sec23 %>
  </div>

  <div class="field">
    <%= form.label :sec24_rate %>
    <%= form.check_box :sec24_rate, id: :opinion_sec24_rate %>
  </div>

  <div class="field">
    <%= form.label :sec24 %>
    <%= form.text_area :sec24, id: :opinion_sec24 %>
  </div>

  <div class="field">
    <%= form.label :sec25_rate %>
    <%= form.check_box :sec25_rate, id: :opinion_sec25_rate %>
  </div>

  <div class="field">
    <%= form.label :sec25 %>
    <%= form.text_area :sec25, id: :opinion_sec25 %>
  </div>

  <div class="field">
    <%= form.label :sec28_rate %>
    <%= form.check_box :sec28_rate, id: :opinion_sec28_rate %>
  </div>

  <div class="field">
    <%= form.label :sec28 %>
    <%= form.text_area :sec28, id: :opinion_sec28 %>
  </div>

  <div class="field">
    <%= form.label :sec33_rate %>
    <%= form.check_box :sec33_rate, id: :opinion_sec33_rate %>
  </div>

  <div class="field">
    <%= form.label :sec33 %>
    <%= form.text_area :sec33, id: :opinion_sec33 %>
  </div>

  <div class="field">
    <%= form.label :sec41 %>
    <%= form.text_area :sec41, id: :opinion_sec41 %>
  </div>

  <div class="field">
    <%= form.label :sec42 %>
    <%= form.text_area :sec42, id: :opinion_sec42 %>
  </div>

  <div class="field">
    <%= form.label :sec43 %>
    <%= form.text_area :sec43, id: :opinion_sec43 %>
  </div>

  <div class="field">
    <%= form.label :sec51_rate %>
    <%= form.check_box :sec51_rate, id: :opinion_sec51_rate %>
  </div>

  <div class="field">
    <%= form.label :sec51 %>
    <%= form.text_area :sec51, id: :opinion_sec51 %>
  </div>

  <div class="field">
    <%= form.label :sec61 %>
    <%= form.text_area :sec61, id: :opinion_sec61 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
