<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @opinion.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @opinion.user %>
</p>

<p>
  <strong>Sec22 rate:</strong>
  <%= @opinion.sec22_rate %>
</p>

<p>
  <strong>Sec22:</strong>
  <%= @opinion.sec22 %>
</p>

<p>
  <strong>Sec23 rate:</strong>
  <%= @opinion.sec23_rate %>
</p>

<p>
  <strong>Sec23:</strong>
  <%= @opinion.sec23 %>
</p>

<p>
  <strong>Sec24 rate:</strong>
  <%= @opinion.sec24_rate %>
</p>

<p>
  <strong>Sec24:</strong>
  <%= @opinion.sec24 %>
</p>

<p>
  <strong>Sec25 rate:</strong>
  <%= @opinion.sec25_rate %>
</p>

<p>
  <strong>Sec25:</strong>
  <%= @opinion.sec25 %>
</p>

<p>
  <strong>Sec28 rate:</strong>
  <%= @opinion.sec28_rate %>
</p>

<p>
  <strong>Sec28:</strong>
  <%= @opinion.sec28 %>
</p>

<p>
  <strong>Sec33 rate:</strong>
  <%= @opinion.sec33_rate %>
</p>

<p>
  <strong>Sec33:</strong>
  <%= @opinion.sec33 %>
</p>

<p>
  <strong>Sec41:</strong>
  <%= @opinion.sec41 %>
</p>

<p>
  <strong>Sec42:</strong>
  <%= @opinion.sec42 %>
</p>

<p>
  <strong>Sec43:</strong>
  <%= @opinion.sec43 %>
</p>

<p>
  <strong>Sec51 rate:</strong>
  <%= @opinion.sec51_rate %>
</p>

<p>
  <strong>Sec51:</strong>
  <%= @opinion.sec51 %>
</p>

<p>
  <strong>Sec61:</strong>
  <%= @opinion.sec61 %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
