<li class="timeline-item">
  <div class="timeline-info">
    <span><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
  </div>
  <div class="timeline-marker"></div>
  <div class="timeline-content">
    <% unless @event.present? %>
      <h4 class="timeline-title"><small>zadanie: </small><%= comment.event.title_as_link %></h4>
    <% end %>
    <p><%= comment.body.html_safe %></p>
    <p class="pull-right"><i>~ <%= comment.user.fullname %></i></p>

    <% if policy(comment).destroy? %>
      <%= link_to event_comment_path(comment.event, comment),
                          method: :delete,
                          data: { confirm: t('helpers.links.confirm_destroy', data: comment.fullname) }, 
                          title: t('tooltip.destroy'), 
                          rel: 'tooltip' do %>
        <span class="glyphicon glyphicon-trash text-danger"></span>
      <% end %>
    <% end %>

  </div>
</li>
