<p id="notice"><%= notice %></p>

<p>
  <strong>Point file:</strong>
  <%= @ww_point.point_file %>
</p>

<p>
  <strong>Ww 2:</strong>
  <%= @ww_point.ww_2 %>
</p>

<%= link_to 'Edit', edit_ww_point_path(@ww_point) %> |
<%= link_to 'Back', ww_points_path %>
