<div class="panel-group" id="myaccordion">

  <!-- Dane -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-errand">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_data" >
          <div class="panel-heading">
            <div class="panel-title">
              <span class="glyphicon glyphicon-tasks">&nbsp;</span>
              <span><%=t "pages.errand.show.title" %>:&nbsp;<%= @errand.fullname %></span>
              <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
            </div> 
          </div>
        </a>
        <div id="collapse_data" class="panel-collapse collapse in">
          <div class="panel-body">         

            <%= render 'data', input_disabled: true %>

          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_data" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-12-->
  </div> <!-- /row -->


  <% if policy(:errand).work? %>
    <%= render partial: "works/works_in_panel", locals: {trackable_type: 'Errand', trackable_id: @errand.id} %>
  <% end %>

  <!-- Attachments for this errand-->
  <% if policy(:attachment).errand_index? %>
    <%= render 'attachments/attachments_in_panel', attachmenable: @errand %>
  <% end %>


  <!-- Events && Accessorizations-->
  <%# if policy(:accessorization).index? %>
  <% if policy(:event).index? %>
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="panel panel-accessorization">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_accessorizations" >
            <div class="panel-heading">
              <div class="panel-title">
                <span class="glyphicon glyphicon-calendar">&nbsp;</span>
                <span><%= t "pages.accessorization.role_show" %></span>
                <i class="indicator glyphicon glyphicon-chevron-right pull-right"></i>
              </div>
            </div>
          </a>
          <div id="collapse_accessorizations" class="panel-collapse collapse">
            <div class="panel-body">

              <%= render 'accessorizations' %>

            </div> <!-- /panel-body -->
          </div> <!-- /id="collapse_accessorizations" -->
        </div> <!-- /panel -->
      </div> <!-- /col-sm-11 col-sm-offset-1 -->
    </div> <!-- /row -->
<% end %>

</div> <!-- /class="panel-group" id="myaccordion" -->
