<%= form_with(model: point_file, local: true) do |form| %>
  <% if point_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point_file.errors.count, "error") %> prohibited this point_file from being saved:</h2>

      <ul>
      <% point_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id, id: :point_file_project_id %>
  </div>

  <div class="field">
    <%= form.label :load_date %>
    <%= form.date_select :load_date, id: :point_file_load_date %>
  </div>

  <div class="field">
    <%= form.label :load_file %>
    <%= form.text_field :load_file, id: :point_file_load_file %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, PointFile.statuses.keys.map {|status| [status.titleize, status]}) %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :point_file_note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
