<%= form_for [@project, @accessorization] do |f| %>

  <% if @accessorization.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@accessorization.errors.count, "error") %> prohibited this accessorization from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @accessorization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="col-sm-12">
    <div class="row">
      <div class="form-group col-sm-8">
        <%= f.label :project_id, :class => "control-label" %>
        <%#= f.text_field :project_id, :class => "form-control" %>
        <%= f.select :project_id, 
              Project.all.order(:number).collect {|v| [ "#{v[:number]}", v[:id] ] },
              { include_blank: true }, 
              { autofocus: false, class: 'form-control', disabled: false } %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-8">
        <%= f.label :user_id, class: 'control-label' %>
        <%= f.select :user_id, 
              User.all.order(:name).collect {|v| [ "#{v[:name]}", v[:id] ] },
              { include_blank: true }, 
              { autofocus: false, class: 'form-control', disabled: false } %>
      </div>  <!-- /row -->
    </div>

    <div class="row">
      <div class="form-group col-sm-8">
        <%= f.label :role_id, class: 'control-label' %>
        <%= f.select :role_id, 
              Role.all.order(:name).collect {|v| [ "#{v[:name]}", v[:id] ] },
              { include_blank: true }, 
              { autofocus: false, class: 'form-control', disabled: false } %>
      </div>  <!-- /row -->
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= f.submit :class => "btn btn-primary" %>
        <%= link_to 'Back', :back, :class => "btn btn-default" %>
      </div>
    </div>
  </div> 

<% end %>