<div class="col-sm-12">
  <table id="accessorizations-table" class="hover cell-border compact" width="100%" data-source="<%= datatables_index_user_accessorizations_path(user_id: @user.id, format: :json) %>">
    <thead>
      <tr>
        <th                  >ID</th>
        <th class="col-sm-2"><%= Event.human_attribute_name(:title) %></th>
        <th class="col-sm-2"><%= Event.human_attribute_name(:event_type_id) %></th>
        <th class="col-sm-1"><%= Event.human_attribute_name(:end_date) %></th>
        <th class="col-sm-1"><%= Event.human_attribute_name(:event_status_id) %></th>
        <th class="col-sm-1"><%= Event.human_attribute_name(:project_id) %></th>
        <th class="col-sm-2"><%= Project.human_attribute_name(:project_status_id) %></th>
        <th class="col-sm-3"><%= Event.human_attribute_name(:flat_assigned_users) %></th>
      </tr>
    </thead>
    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->

<div class="col-sm-12">
  <hr>
</div> <!--/col-sm-12 -->

<div class="col-sm-12">
  <%= pie_chart ( EventType.all.map {|event_type| 
      [ event_type.name, 
        Event.joins(:accessorizations).where( event_type_id: [event_type.id], accessorizations: {user_id: [@user.id]} ).size ]
    } ) %>
</div> <!--/col-sm-12 -->

<div class="col-sm-12">
  <%= pie_chart ( EventStatus.all.map {|event_status| 
      [ event_status.name, 
        Event.joins(:accessorizations).where( event_status_id: [event_status.id], accessorizations: {user_id: [@user.id]} ).size ]
    } ) %>
</div> <!--/col-sm-12 -->

<div class="col-sm-12">
  <hr>
</div> <!--/col-sm-12 -->

<% 
  EventStatus.all.each do |event_status|
    data_array = [] 
    EventType.all.each do |event_type|  
      data_array << { name: "#{event_type.name}", 
                       data: {"#{event_status.name}": Event.joins(:accessorizations).where( event_status_id: [event_status.id], event_type_id: [event_type.id], accessorizations: {user_id: [@user.id]} ).size }
                      }
       
    end
%>
    <div class="col-sm-12">
      <%= bar_chart data_array, adapter: "highcharts", min: 0 %>
    </div> 
<% end  %>


