<div class="col-sm-12">
  <table id="attachmenable-attachments" width="100%" class="hover cell-border compact" width="100%" data-source="<%= datatables_index_attachments_path(attachmenable_type: attachmenable.class.to_s, attachmenable_id: attachmenable.id.to_s, format: :json) %>">
    <thead>
      <tr>
        <th>0 ID </th>
        <th><%= Attachment.human_attribute_name(:attached_file) %></th>
        <th><%= Attachment.human_attribute_name(:note) %></th>
        <th><%= Attachment.human_attribute_name(:created_at) %></th>
        <th><%= Attachment.human_attribute_name(:file_size) %></th>
        <th class="col-sm-1" ></th>
      </tr>
    </thead>
    <tbody>                    
      <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->


<div class="col-sm-12">
  <hr>
  <%= form_for [attachmenable, Attachment.new] do |f| %>

    <div class="form-group col-sm-6">
      <%= f.label :attached_file, class: 'control-label' %><br>
      <%= f.file_field :attached_file, class: 'form-control input-sm' %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :note, class: 'control-label' %>
      <%= f.text_area :note, :rows => 5, class: 'form-control input-sm' %>
    </div>

    <div class="col-sm-12">
      <%= f.submit nil, class: 'btn btn-primary pull-right' %>
    </div> 

  <% end %>
</div> <!-- /col-sm-12 -->
