<p id="notice"><%= notice %></p>

<p>
  <strong>Attachmenable:</strong>
  <%= @attachment.attachmenable %>
</p>

<p>
  <strong>Attached file:</strong>
  <%= @attachment.attached_file %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
