<div class="col-sm-11 col-sm-offset-1">
  <% input_disabled ||= false  
     #if input_disabled is not passed to the partial it doesn't crash. 
     # We default it to false 
  %>

  <%= form_errors_for @event %>

  <div class="row">
    <div class="col-sm-6">
      <div class="row">

        <div class="form-group col-sm-12">
          <p><strong><%= Event.human_attribute_name(:title) %></strong></p>
          <%= @event.title %>
        </div>

        <div class="form-group col-sm-12">
          <p><strong><%= Event.human_attribute_name(:status) %></strong></p>
          <%= enum_l(@event, :status) %>
        </div>

      </div>  <!-- /row -->
    </div>  <!-- /col-sm-6 -->

    <div class="col-sm-6">
      <div class="row">
        <div class="form-group col-sm-12">
          <p><strong><%= Event.human_attribute_name(:note) %></strong></p>
          <%= @event.note.gsub("\r\n", "<br>").html_safe %> 
        </div>
      </div>
    </div> <!--/col-sm-6 -->
  </div>  <!-- /row -->

  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="form-group col-sm-3">
          <p><strong><%= Event.human_attribute_name(:start_date) %></strong></p>
          <%= @event.start_date.present? ? @event.start_date.strftime("%Y-%m-%d %H:%M") : '' %>
        </div>

        <div class="form-group col-sm-3">
          <p><strong><%= Event.human_attribute_name(:end_date) %></strong></p>
          <%= @event.end_date.present? ? @event.end_date.strftime("%Y-%m-%d %H:%M") : '' %>
        </div>

        <div class="form-group col-sm-6">
          <p><strong><%= Event.human_attribute_name(:all_day) %></strong></p>
          <%= t @event.all_day %>
        </div>

      </div>

    </div>  <!-- /col-sm-12 -->

  </div> <!-- /row -->


  <div class="row">
    <div class="col-sm-12">

      <div class="row">

        <div class="form-group col-sm-6">
          <p><strong><%= Event.human_attribute_name(:event_type_id) %></strong></p>
          <%= @event.event_type.try(:name) %>
        </div>

        <div class="form-group col-sm-6">
          <p><strong><%= Event.human_attribute_name(:project_id) %></strong></p>
          <%= @event.project.try(:number_as_link) %>
        </div>

      </div>

    </div>  <!-- /col-sm-12 -->

  </div> <!-- /row -->



  <hr class="hr-without-top-margin">


  <% if input_disabled %>
    <!-- for "Show" -->
    <div class="row">
      <%= link_to t('Index', default: t("helpers.links.index")), events_path, :class => 'btn btn-default glyphicon glyphicon-th-list' %>

      <% if policy(@event).destroy? %>
        <%= link_to t('Delete', default: t("helpers.links.destroy")), event_path(@event),
                            method: :delete,
                            data: { confirm: t('helpers.links.confirm_destroy', data: @event.title) }, 
                            :class => "btn btn-danger glyphicon glyphicon-trash" %>
      <% end %>

      <% if policy(@event).edit? %>
        <%= link_to t('Edit', default: t("helpers.links.edit")), edit_event_path(@event), 
                            :class => "btn btn-primary glyphicon glyphicon-edit" %>  
      <% end %>

    </div> <!-- /row -->
  <% else %>
    <!-- form "New"/"Edit" -->
  <% end %>

</div> <!--/col-sm-11 col-sm-offset-1-->    
