<div class="col-sm-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-7"><%= Rating.human_attribute_name(:fullname) %></th>
        <th class="col-sm-3"><%= Rating.human_attribute_name(:user_id) %></th>
        <th class="col-sm-2"><%= Rating.human_attribute_name(:updated_at) %></th>
      </tr>
    <thead>
    <tbody>

      <%= render @event.ratings.order(created_at: :asc) %>

     </tbody>
  </table>

</div>

<div class="col-sm-12">
  <% if ( @event.event_type.activities.include?('rating:*') || 
          @event.event_type.activities.include?('rating:index') ) && ( policy(@event.ratings.new(user: current_user)).new? ) & @event.ratings.empty? %>
    <%= link_to new_event_rating_path(@event), class: "btn btn-primary pull-right" do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t("helpers.links.new") %>
    <% end %>
  <% end %>
</div> <!--/col-sm-12 -->


