<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <h3 class="center">
        <span class="glyphicon glyphicon-flag glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t "pages.customer.index.title" %></span>
      </h3>
    </div> <!--/row -->
  </div> <!--/col-sm-12 -->

  <div class="col-sm-12">
    <table id="customers-table" class="hover cell-border" cellspacing="0" width="100%", data-source="<%= datatables_index_customers_path(format: :json) %>">
      <thead>
        <tr>
          <th>id</th>
          <th><%= Customer.human_attribute_name(:name) %></th>
          <th><%= Customer.human_attribute_name(:nip) %></th>
          <th><%= Customer.human_attribute_name(:regon) %></th>
          <th><%= Customer.human_attribute_name(:rpt) %></th>
          <th><%= Customer.human_attribute_name(:address_city) %></th>
          <th><%= Customer.human_attribute_name(:address_street) %></th>
          <th><%= Customer.human_attribute_name(:address_house) %></th>
          <th><%= Customer.human_attribute_name(:address_number) %></th>
          <th><%= Customer.human_attribute_name(:flat_assigned_projects) %></th>
        </tr>
      </thead>
      <tbody>
        <!-- data from ajax -->
      </tbody>
    </table>
  </div> <!--/col-sm-12 -->


  <div class="col-sm-12">
    <% if policy(:customer).new? %>
      <%= link_to new_customer_path, class: "btn btn-primary pull-right" do %>
        <span class="glyphicon glyphicon-plus"></span>
        <%= t("helpers.links.new") %>
      <% end %>
    <% end %>
  </div> <!--/col-sm-12 -->
</div> <!--/row -->
