<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <h3><span class="glyphicon glyphicon-flag" aria-hidden="true"> 
        <%= t('pages.customer.show.title') %>  
        </span>
      </h3>
    </div> <!--/row -->
  </div> <!--/col-sm-12 -->

  <div class="col-sm-12">
    <hr>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="form-group col-sm-12">
        <strong><%= Customer.human_attribute_name('name') %></strong><br>
        <%= @customer.name %>
      </div>
    </div>
  </div> <!--/col-sm-6 -->


  <div class="col-sm-6">
    <div class="row">
      <div class="form-group col-sm-12">
        <strong><%= Customer.human_attribute_name('note') %></strong><br>
        <%= @customer.note %>
      </div>
    </div>
  </div> <!--/col-sm-6 -->

  <div class="col-sm-12">
    <hr>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-hover">
          <caption>
            <%= t('pages.customer.show.table_caption') %>
          </caption>      
          <thead>
            <tr>
              <th><%= Customer.human_attribute_name('flat_assigned_projects') %></th>
            </tr>
          <thead>
          <tbody>
            <% @customer.projects.order(:number).each do |project| %>
              <tr>
                <%= render 'project', project: project %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!--/col-sm-12 -->
    </div> <!--/row -->
  </div>

  <div class="col-sm-12">
    <hr>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-default' %>
      <%= link_to 'Index', customers_path, class: 'btn btn-default' %>
    </div> <!--/row -->
  </div> <!--/col-sm-12 -->

</div> <!--/coontainer -->

