<%= form_with(model: rating, local: true) do |form| %>
  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, id: :rating_event_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :rating_user_id %>
  </div>




  <div class="field">
    <%= form.label :sec33_rate %>
    <%= form.check_box :sec33_rate, id: :rating_sec33_rate %>
  </div>

  <div class="field">
    <%= form.label :sec33 %>
    <%= form.text_area :sec33, id: :rating_sec33 %>
  </div>

  <div class="field">
    <%= form.label :sec41 %>
    <%= form.text_area :sec41, id: :rating_sec41 %>
  </div>

  <div class="field">
    <%= form.label :sec42 %>
    <%= form.text_area :sec42, id: :rating_sec42 %>
  </div>

  <div class="field">
    <%= form.label :sec43 %>
    <%= form.text_area :sec43, id: :rating_sec43 %>
  </div>

  <div class="field">
    <%= form.label :sec51_rate %>
    <%= form.check_box :sec51_rate, id: :rating_sec51_rate %>
  </div>

  <div class="field">
    <%= form.label :sec51 %>
    <%= form.text_area :sec51, id: :rating_sec51 %>
  </div>

  <div class="field">
    <%= form.label :sec61 %>
    <%= form.text_area :sec61, id: :rating_sec61 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
