<p id="notice"><%= notice %></p>

<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Sec22 rate</th>
      <th>Sec22</th>
      <th>Sec23 rate</th>
      <th>Sec23</th>
      <th>Sec24 rate</th>
      <th>Sec24</th>
      <th>Sec25 rate</th>
      <th>Sec25</th>
      <th>Sec28 rate</th>
      <th>Sec28</th>
      <th>Sec33 rate</th>
      <th>Sec33</th>
      <th>Sec41</th>
      <th>Sec42</th>
      <th>Sec43</th>
      <th>Sec51 rate</th>
      <th>Sec51</th>
      <th>Sec61</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.event %></td>
        <td><%= rating.user %></td>
        <td><%= rating.sec22_rate %></td>
        <td><%= rating.sec22 %></td>
        <td><%= rating.sec23_rate %></td>
        <td><%= rating.sec23 %></td>
        <td><%= rating.sec24_rate %></td>
        <td><%= rating.sec24 %></td>
        <td><%= rating.sec25_rate %></td>
        <td><%= rating.sec25 %></td>
        <td><%= rating.sec28_rate %></td>
        <td><%= rating.sec28 %></td>
        <td><%= rating.sec33_rate %></td>
        <td><%= rating.sec33 %></td>
        <td><%= rating.sec41 %></td>
        <td><%= rating.sec42 %></td>
        <td><%= rating.sec43 %></td>
        <td><%= rating.sec51_rate %></td>
        <td><%= rating.sec51 %></td>
        <td><%= rating.sec61 %></td>
        <td><%= link_to 'Show', rating %></td>
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %>
