<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @rating.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user %>
</p>

<p>
  <strong>Sec22 rate:</strong>
  <%= @rating.sec22_rate %>
</p>

<p>
  <strong>Sec22:</strong>
  <%= @rating.sec22 %>
</p>

<p>
  <strong>Sec23 rate:</strong>
  <%= @rating.sec23_rate %>
</p>

<p>
  <strong>Sec23:</strong>
  <%= @rating.sec23 %>
</p>

<p>
  <strong>Sec24 rate:</strong>
  <%= @rating.sec24_rate %>
</p>

<p>
  <strong>Sec24:</strong>
  <%= @rating.sec24 %>
</p>

<p>
  <strong>Sec25 rate:</strong>
  <%= @rating.sec25_rate %>
</p>

<p>
  <strong>Sec25:</strong>
  <%= @rating.sec25 %>
</p>

<p>
  <strong>Sec28 rate:</strong>
  <%= @rating.sec28_rate %>
</p>

<p>
  <strong>Sec28:</strong>
  <%= @rating.sec28 %>
</p>

<p>
  <strong>Sec33 rate:</strong>
  <%= @rating.sec33_rate %>
</p>

<p>
  <strong>Sec33:</strong>
  <%= @rating.sec33 %>
</p>

<p>
  <strong>Sec41:</strong>
  <%= @rating.sec41 %>
</p>

<p>
  <strong>Sec42:</strong>
  <%= @rating.sec42 %>
</p>

<p>
  <strong>Sec43:</strong>
  <%= @rating.sec43 %>
</p>

<p>
  <strong>Sec51 rate:</strong>
  <%= @rating.sec51_rate %>
</p>

<p>
  <strong>Sec51:</strong>
  <%= @rating.sec51 %>
</p>

<p>
  <strong>Sec61:</strong>
  <%= @rating.sec61 %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
