<div class="col-sm-11 col-sm-offset-1">
  <% input_disabled ||= false  
     #if input_disabled is not passed to the partial it doesn't crash. 
     # We default it to false 
  %>

  <%= form_errors_for @project %>

  <div class="row">
    <div class="col-sm-6">
      <div class="row">

        <div class="form-group col-sm-6">
          <p><strong><%= Project.human_attribute_name(:number) %></strong></p>
          <%= @project.number %>
        </div>

        <div class="form-group col-sm-6">
          <p><strong><%= Project.human_attribute_name(:project_status_id) %></strong></p>
          <%= @project.project_status.try(:name) %>
        </div>

        <div class="form-group col-sm-12">
          <p><strong><%= Project.human_attribute_name(:customer_id) %></strong></p>
          <%= @project.customer.try(:name) %>
        </div>

      </div>  <!-- /row -->
    </div>  <!-- /col-sm-12 -->

    <div class="col-sm-6">
      <div class="row">
        <div class="form-group col-sm-12">
          <p><strong><%= Project.human_attribute_name(:note) %></strong></p>
          <%= @project.note.gsub("\r\n", "<br>").html_safe %>
        </div>
      </div>
    </div> <!--/col-sm-6 -->
  </div>  <!-- /row -->


  <hr class="hr-without-top-margin">


  <% if input_disabled %>
    <!-- for "Show" -->
    <div class="row">
      <%= link_to t('Index', default: t("helpers.links.index")), projects_path, :class => 'btn btn-default glyphicon glyphicon-th-list' %>

      <% if policy(@project).destroy? %>
        <%= link_to t('Delete', default: t("helpers.links.destroy")), project_path(@project),
                            method: :delete,
                            data: { confirm: t('helpers.links.confirm_destroy', data: @project.number) }, 
                            :class => "btn btn-danger glyphicon glyphicon-trash" %>
      <% end %>

      <% if policy(@project).edit? %>
        <%= link_to t('Edit', default: t("helpers.links.edit")), edit_project_path(@project), 
                        :class => "btn btn-primary glyphicon glyphicon-edit" %>  
      <% end %>

    </div> <!-- /row -->
  <% else %>
    <!-- form "New"/"Edit" -->
  <% end %>

</div> <!--/col-sm-11 col-sm-offset-1-->    
