<div class="col-sm-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-2"><%= PointFile.human_attribute_name(:load_date) %></th>
        <th class="col-sm-7"><%= PointFile.human_attribute_name(:load_file) %></th>
        <th class="col-sm-2"><%= PointFile.human_attribute_name(:status) %></th>
        <th class="col-sm-1"></th>
      </tr>
    <thead>
    <tbody>
      <% @project.point_files.order(id: :desc).each do |point_file| %>
        <tr>
          <td>
            <%= point_file.try(:load_date) %>
          </td>
          <td>
            <%= point_file.try(:load_file) %>
          </td>
          <td>
            <%= point_file.try(:status) %>
          </td>
        </tr>
      <% end %>
     </tbody>
  </table>

</div>

<div class="col-sm-12">
  <div class="row">
    <% if true %> <!-- #policy(:customer).new?  -->
      <%= link_to t('New', default: t("helpers.links.new_point_file")), new_point_file_path, 
                          :class => 'btn btn-primary glyphicon glyphicon-plus pull-right' %> 
    <% end %>
  </div> <!--/row -->
</div> <!--/col-sm-12 -->
