<div class="col-sm-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-sm-1"><%= PointFile.human_attribute_name(:status) %></th>
        <th class="col-sm-2"><%= PointFile.human_attribute_name(:load_date) %></th>
        <th class="col-sm-8"><%= PointFile.human_attribute_name(:load_file) %></th>
        <th class="col-sm-1"></th>
      </tr>
    <thead>
    <tbody>
      <% @project.point_files.order(load_date: :desc).each do |point_file| %>
        <tr>
          <td class="<%='success' if point_file.active? %>" >
            <%= enum_l(point_file, :status) %>
          </td>
          <td class="<%='success' if point_file.status == 'active' %>">
            <%= point_file.load_date.present? ? point_file.load_date.strftime("%Y-%m-%d %H:%M:%S") : ''%>
          </td>
          <td class="<%='success' if point_file.status == 'active' %>">
            <%= link_to point_file.fullname, project_point_file_path(@project, point_file)  %>
          </td>
        </tr>
      <% end %>
     </tbody>
  </table>

</div>

<div class="col-sm-12">
  <% if policy(:point_file).new? %>
    <%= link_to t('New', default: t("helpers.links.new")), new_project_point_file_path(@project), 
                        :class => 'btn btn-primary glyphicon glyphicon-plus pull-right' %> 
  <% end %>
</div> <!--/col-sm-12 -->
