<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <h3><span class="glyphicon glyphicon-book" aria-hidden="true"> 
        <%= t "pages.project.index.title" %>  
        </span>
      </h3>
      <div class="column">
        <table class="table table-hover">
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <%= render project %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div> <!--/row -->
  </div> <!--/col-sm-12 -->

  <div class="col-sm-12">
    <br>
    <br>
    <hr>
    <p>Inna wizualizacja</p>
    <br>
  </div> <!--/col-sm-12 -->

  <div class="col-sm-12">
    <table id="projects-table" class="table hover cell-border" width="100%", data-source="<%= datatables_index_projects_path(format: :json) %>">
      <thead>
        <tr>
          <th><%= Project.human_attribute_name('id') %></th>
          <th><%= Project.human_attribute_name('number') %></th>
          <th><%= Project.human_attribute_name('note') %></th>
          <th><%= Project.human_attribute_name('flat_assigned_users') %></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> <!--/col-sm-12 -->



  <div class="col-sm-12">
    <div class="row">
      <% if true %> <!--policy(:project).new? %> -->
        <%= link_to t('New', default: t("helpers.links.new")), new_project_path, 
                            :class => 'btn btn-primary glyphicon glyphicon-plus pull-right' %> 
      <% end %>
    </div> <!--/row -->
  </div> <!--/col-sm-12 -->
</div> <!--/coontainer -->
