<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <h3><span class="glyphicon glyphicon-book" aria-hidden="true"> 
        <%= t('pages.project.show.title') %>  
        </span>
      </h3>
    </div> <!--/row -->

    <div class="row">
      <div class="col-sm-6">
        <strong>Number:</strong>
        <%= @project.number %>
      </div>
      <div class="col-sm-6">
        <strong>Note:</strong>
        <%= @project.note %>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-12">
        <table class="table table-hover">
          <caption>
            <%= t('pages.project.show.table_caption') %>
          </caption>      
          <thead>
            <tr>
              <th>User</th>
              <th>Role</th>
            </tr>
          <thead>
          <tbody>
            <%# @project.accessorizations.each do |accessorization| %>
            <% Accessorization.includes(:user, :project).where(project: @project).order('users.name').each do |accessorization| %>
              <tr>
                <%= render 'accessorization', accessorization: accessorization %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> <!--/col-sm-12 -->
    </div> <!--/row -->
    <div class="row">
      <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default' %>
      <%= link_to 'Index', projects_path, class: 'btn btn-default' %>
    </div> <!--/row -->

  </div> <!--/col-sm-12 -->
</div> <!--/coontainer -->

