<div class="col-sm-12">
  <table id="accessorizations-table" class="hover cell-border compact" width="100%" data-source="<%= datatables_index_role_accessorizations_path(role_id: @role.id, format: :json) %>">
    <thead>
      <tr>
        <th                  >ID</th>
        <th class="col-sm-2"><%= Project.human_attribute_name(:number) %></th>
        <th class="col-sm-1"><%= Project.human_attribute_name(:project_status_id) %></th>
        <th class="col-sm-3"><%= Project.human_attribute_name(:customer_id) %></th>
        <th class="col-sm-3"><%= Project.human_attribute_name(:flat_assigned_users) %></th>
      </tr>
    </thead>
    <tbody>
       <!--data from JSON -->
    </tbody>
  </table>
</div> <!--/col-sm-12 -->
