<%= form_with(model: role, local: true) do |form| %>

  <%= form_errors_for role %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :role_name %>
  </div>

  <div class="field">
    <%= form.label :special %>
    <%= form.check_box :special, id: :role_special %>
  </div>

  <div class="field">
    <%= form.label :activities %>
    <%= form.text_field :activities, id: :role_activities, :size=>"100" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
