<div class="col-sm-11 col-sm-offset-1">
  <% input_disabled ||= false  
     #if input_disabled is not passed to the partial it doesn't crash. 
     # We default it to false 
  %>

  <%= form_errors_for @rating %>

  <div class="row">
    <div class="col-sm-6">
      <div class="row">

        <div class="form-group col-sm-6">

        </div>

        <div class="form-group col-sm-6">
        </div>

        <div class="form-group col-sm-12">
        </div>

      </div>  <!-- /row -->
    </div>  <!-- /col-sm-12 -->

    <div class="col-sm-6">
      <div class="row">
        <div class="form-group col-sm-12">
          <p><strong><%= Rating.human_attribute_name(:note) %></strong></p>
          <%= text_with_break_line(@rating.note) %>
        </div>
      </div>
    </div> <!--/col-sm-6 -->
  </div>  <!-- /row -->


  <hr class="hr-without-top-margin">


  <% if input_disabled %>
    <!-- for "Show" -->
    <div class="row">
      <%= link_to event_path(@rating.event), class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <%= t("helpers.links.back") %>
      <% end %>

      <% if true %> <!-- #policy(@rating).destroy? %> -->
        <%= link_to event_rating_path(@rating.event, @rating),
                            method: :delete,
                            data: { confirm: t('helpers.links.confirm_destroy', data: @rating.fullname) }, 
                            class: "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
          <%= t("helpers.links.destroy") %>
        <% end %>
      <% end %>

      <% if true %> <!-- #policy(@rating).edit? %> -->
        <%= link_to edit_event_rating_path(@rating.event, @rating), class: "btn btn-primary" do %>
          <span class="glyphicon glyphicon-edit"></span>
          <%= t("helpers.links.edit") %>
        <% end %>
      <% end %>

    </div> <!-- /row -->
  <% else %>
    <!-- form "New"/"Edit" -->
  <% end %>

</div> <!--/col-sm-11 col-sm-offset-1-->    
