<%#= form_with(model: rating, local: true) do |form| %>
<div class="col-sm-11">
<%= form_for [event, rating] do |f| %>

    <% input_disabled ||= false  
       #if input_disabled is not passed to the partial it doesn't crash. 
       # We default it to false 
    %>

    <%= form_errors_for rating %>

    <div class="row">
      <div class="col-sm-12">
        <div>
          <h3>II. KRYTERIA MERYTORYCZNE OCENA: TAK/NIE</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="row well-accessorization">

          <div class="form-group col-sm-9">
            <blockquote>
              <p>2. Obszary inwestycji</p>
            </blockquote>
          </div>

          <div class="form-group col-sm-3">
            <%= f.label :sec22_rate, class: 'control-label' %><br>
            <%= f.radio_button(:sec22_rate, false, disabled: input_disabled) %>
            <%= f.label(:sec22_rate_false, t("false") ) %>
            <%= f.radio_button(:sec22_rate, true, disabled: input_disabled) %>
            <%= f.label(:sec22_rate_true, t("true") ) %>
          </div>

          <div class="form-group col-sm-12">
            <%= f.label :sec22, class: 'control-label' %>
            <%= f.text_area :sec22, rows: 4, class: 'form-control input-sm', disabled: input_disabled %>
          </div>

        </div>  <!-- /row -->
      </div>  <!-- /col-sm-6 -->
    </div>  <!-- /row -->

    <div class="row">
      <div class="col-sm-12">
        <div class="row well-accessorization">

          <div class="form-group col-sm-9">
            <blockquote>
              <p>3. Wskaźniki produktu i rezultatu są:
                <li>adekwatne dla danego rodzaju projektu</li>
                <li>realne do osiągnięcia</li>
                <li>odzwierciedlają założone cele projektu</li></p>
            </blockquote>
          </div>

          <div class="form-group col-sm-3">
            <%= f.label :sec23_rate, class: 'control-label' %><br>
            <%= f.radio_button(:sec23_rate, false, disabled: input_disabled) %>
            <%= f.label(:sec23_rate_false, t("false") ) %>
            <%= f.radio_button(:sec23_rate, true, disabled: input_disabled) %>
            <%= f.label(:sec23_rate_true, t("true") ) %>
          </div>

          <div class="form-group col-sm-12">
            <%= f.label :sec23, class: 'control-label' %>
            <%= f.text_area :sec23, rows: 4, class: 'form-control input-sm', disabled: input_disabled %>
          </div>

        </div>  <!-- /row -->
      </div>  <!-- /col-sm-6 -->
    </div>  <!-- /row -->

    <div class="row">
      <div class="col-sm-12">
        <div class="row well-accessorization">

          <div class="form-group col-sm-9">
            <blockquote>
              <p>4. Koncepcja techniczna projektu jest zgodna z wymaganiami dla sieci NGA - POPC, oraz wymaganiami dla podłączenia szkół/placówek edukacyjnych</p>
            </blockquote>
          </div>

          <div class="form-group col-sm-3">
            <%= f.label :sec24_rate, class: 'control-label' %><br>
            <%= f.radio_button(:sec24_rate, false, disabled: input_disabled) %>
            <%= f.label(:sec24_rate_false, t("false") ) %>
            <%= f.radio_button(:sec24_rate, true, disabled: input_disabled) %>
            <%= f.label(:sec24_rate_true, t("true") ) %>
          </div>

          <div class="form-group col-sm-12">
            <%= f.label :sec24, class: 'control-label' %>
            <%= f.text_area :sec24, rows: 4, class: 'form-control input-sm', disabled: input_disabled %>
          </div>

        </div>  <!-- /row -->
      </div>  <!-- /col-sm-6 -->
    </div>  <!-- /row -->

    <div class="row">
      <div class="col-sm-12">
        <div class="row well-accessorization">

          <div class="form-group col-sm-9">
            <blockquote>
              <p>5. Harmonogram zadań projektu i kamieni milowych oraz zakres finansowy jest:
                <li>wykonalny/możliwy do przeprowadzenia</li>
                <li>uwzględnia czas niezbędny na przeprowadzenie procedur konkurencyjnego wyboru i wpływ czynników zewnętrznych</li>
            </blockquote>
          </div>

          <div class="form-group col-sm-3">
            <%= f.label :sec25_rate, class: 'control-label' %><br>
            <%= f.radio_button(:sec25_rate, false, disabled: input_disabled) %>
            <%= f.label(:sec25_rate_false, t("false") ) %>
            <%= f.radio_button(:sec25_rate, true, disabled: input_disabled) %>
            <%= f.label(:sec25_rate_true, t("true") ) %>
          </div>

          <div class="form-group col-sm-12">
            <%= f.label :sec25, class: 'control-label' %>
            <%= f.text_area :sec25, rows: 4, class: 'form-control input-sm', disabled: input_disabled %>
          </div>

        </div>  <!-- /row -->
      </div>  <!-- /col-sm-6 -->
    </div>  <!-- /row -->

    <div class="row">
      <div class="col-sm-12">
        <div class="row well-accessorization">

          <div class="form-group col-sm-9">
            <blockquote>
              <p>8. Efektywność realizacji projektu - ocena techniczna i koszty</p>
            </blockquote>
          </div>

          <div class="form-group col-sm-3">
            <%= f.label :sec28_rate, class: 'control-label' %><br>
            <%= f.radio_button(:sec28_rate, false, disabled: input_disabled) %>
            <%= f.label(:sec28_rate_false, t("false") ) %>
            <%= f.radio_button(:sec28_rate, true, disabled: input_disabled) %>
            <%= f.label(:sec28_rate_true, t("true") ) %>
          </div>

          <div class="form-group col-sm-12">
            <%= f.label :sec28, class: 'control-label' %>
            <%= f.text_area :sec28, rows: 4, class: 'form-control input-sm', disabled: input_disabled %>
          </div>

        </div>  <!-- /row -->
      </div>  <!-- /col-sm-6 -->
    </div>  <!-- /row -->

    <div class="row">
      <div class="col-sm-12">
        <div>
          <h3>III. KRYTERIA MERYTORYCZNE – WAGI PUNKTOWE</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row well-accessorization">

          <div class="form-group col-sm-9">
            <blockquote>
              <p>3. Zwiększenie minimalnego pokrycia siecią</p>
              <ul>100*min((M1i *1,5+M2i)/(Mmin i) - 1;2)(200 pkt)</ul>
            </blockquote>
          </div>

          <div class="form-group col-sm-3">
            <%= f.label :sec33_rate, class: 'control-label' %><br>
            <%= f.radio_button(:sec33_rate, false, disabled: input_disabled) %>
            <%= f.label(:sec33_rate_false, t("false") ) %>
            <%= f.radio_button(:sec33_rate, true, disabled: input_disabled) %>
            <%= f.label(:sec33_rate_true, t("true") ) %>
          </div>

          <div class="form-group col-sm-12">
            <%= f.label :sec33, class: 'control-label' %>
            <%= f.text_area :sec33, rows: 4, class: 'form-control input-sm', disabled: input_disabled %>
          </div>

        </div>  <!-- /row -->
      </div>  <!-- /col-sm-6 -->
    </div>  <!-- /row -->

    <div class="row">
      <div class="col-sm-12">
        <div>
          <h3>IV. UWAGI ZGŁOSZONE DO WNIOSKODAWCY ORAZ TERMIN NA ICH PRZESŁANIE</h3>
        </div>
      </div>
    </div>







    <div class="row">
      <div class="col-sm-6">
        <div class="row">

          <div class="form-group col-sm-6">
          </div>

          <div class="form-group col-sm-6">
          </div>

          <div class="form-group col-sm-12">
          </div>

        </div>  <!-- /row -->
      </div>  <!-- /col-sm-6 -->


      <div class="col-sm-6">
        <div class="row">
          <div class="form-group col-sm-12">
            <%= f.label :note, class: 'control-label' %>
            <%= f.text_area :note, rows: 4, class: 'form-control input-sm', disabled: input_disabled %>
          </div>
        </div> <!-- /row -->
      </div> <!--/col-sm-6 -->

    </div>  <!-- /row -->


    <hr class="hr-without-top-margin">


    <% if input_disabled %>
      <!-- for "Show" -->
    <% else %>
      <!-- form "New"/"Edit" -->
      <div class="row">
        <%= link_to @event.try(:fullname), event_path(@event), :class => 'btn btn-default' %>

        <%= link_to :back, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          <%= t("helpers.links.back") %>
        <% end %>

        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div> <!-- /row -->
    <% end %>
    
  <% end %>

</div> <!--/col-sm-11-->

