<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "proca", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% if policy(:project).index? %>
            <li><%= link_to projects_path do %>
              <span class="glyphicon glyphicon-book"></span>&nbsp;<%=t "pages.project.index.title" %>
              <% end %>
            </li>
          <% end %>

          <% if policy(:customer).index? %>
            <li><%= link_to customers_path do %>
              <span class="glyphicon glyphicon-flag"></span>&nbsp;<%=t "pages.customer.index.title" %>
              <% end %>
            </li>
          <% end %>

          <% if policy(:user).index? %>
            <li><%= link_to users_path do %>
              <span class="glyphicon glyphicon-user"></span>&nbsp;<%=t "pages.user.index.title" %>
              <% end %>
            </li>
          <% end %>

          <% if policy(:role).index_any? %>
            <li><%= link_to roles_path do %>
              <span class="glyphicon glyphicon-sunglasses"></span>&nbsp;<%=t "pages.role.index.title" %>
              <% end %>
            </li>
          <% end %>

          <li><%= link_to edit_user_registration_path do %>
            <span class="glyphicon glyphicon-edit"></span>&nbsp;<%= current_user.name %>
            <% end %>
          </li>
          <li><%= link_to destroy_user_session_path, :method=>'delete' do %>
            <span class="glyphicon glyphicon-log-out"></span>&nbsp;<%=t "devise.link_to.sign_out" %>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span>&nbsp;<%=t "devise.link_to.sign_in" %>
            <% end %>
          </li>
        <% end %>

      </ul>
    </nav>
  </div>
</header>


