<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "proca", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("pages.project.index.title"),   projects_path %></li>
        <li><%= link_to t("pages.customer.index.title"),  customers_path %></li>
        <li><%= link_to t("pages.role.index.title"),      roles_path %></li>
        <li><%= link_to t("pages.user.index.title"),      users_path %></li>
        <li><%= link_to t("pages.home"),                  static_pages_home_path %></li>
        <li><%= link_to t("pages.help"),                  static_pages_help_path %></li>
        <li><%= link_to "Log in",   ' #' %></li>
      </ul>
    </nav>
  </div>
</header>
