<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "POLA", root_path, id: "logo" %>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <nav>

        <ul class="nav navbar-nav navbar-left">
          <% if user_signed_in? %>
            <% if policy(:errand).index? || policy(:event).index? || policy(:project).index? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=t "pages.charts" %> <span class="caret"></span></a>

                <ul class="dropdown-menu">
                  <% if policy(:errand).index? %>
                    <li><%= link_to show_charts_errands_path do %>
                      <span class="glyphicon glyphicon-signal"></span>&nbsp;<%=t "pages.errand.index.title" %>
                      <% end %>
                    </li>
                  <% end %>

                  <% if policy(:event).index? %>
                    <li><%= link_to show_charts_events_path do %>
                      <span class="glyphicon glyphicon-signal"></span>&nbsp;<%=t "pages.event.index.title" %>
                      <% end %>
                    </li>
                  <% end %>

                  <% if policy(:project).index? %>
                    <li><%= link_to show_charts_projects_path do %>
                      <span class="glyphicon glyphicon-signal"></span>&nbsp;<%=t "pages.project.index.title" %>
                      <% end %>
                    </li>
                  <% end %>

                </ul>
              </li>
            <% end %>

            <% if policy(:enrollment).index? %>
              <li><%= link_to enrollments_path do %>
                <span class="glyphicon glyphicon-briefcase"></span>&nbsp;<%=t "pages.enrollment.index.title" %>
                <% end %>
              </li>
            <% end %>

            <% if policy(:errand).index? %>
              <li><%= link_to errands_path do %>
                <span class="glyphicon glyphicon-tasks"></span>&nbsp;<%=t "pages.errand.index.title" %>
                <% end %>
              </li>
            <% end %>

            <% if policy(:event).index? %>
              <li><%= link_to events_path do %>
                <span class="glyphicon glyphicon-calendar"></span>&nbsp;<%=t "pages.event.index.title" %>
                <% end %>
              </li>
            <% end %>

            <% if policy(:project).index? %>
              <li><%= link_to projects_path do %>
                <span class="glyphicon glyphicon-book"></span>&nbsp;<%=t "pages.project.index.title" %>
                <% end %>
              </li>
            <% end %>

            <% if policy(:customer).index? %>
              <li><%= link_to customers_path do %>
                <span class="glyphicon glyphicon-flag"></span>&nbsp;<%=t "pages.customer.index.title" %>
                <% end %>
              </li>
            <% end %>

          <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>

            <% if policy(:user).index? || policy(:role).index? || policy(:work).index? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=t "pages.management" %> <span class="caret"></span></a>

                <ul class="dropdown-menu">

                  <% if policy(:user).index? %>
                    <li><%= link_to users_path do %>
                      <span class="glyphicon glyphicon-user"></span>&nbsp;<%=t "pages.user.index.title" %>
                      <% end %>
                    </li>
                  <% end %>

                  <% if policy(:role).index_any? %>
                    <li><%= link_to roles_path do %>
                      <span class="glyphicon glyphicon-sunglasses"></span>&nbsp;<%=t "pages.role.index.title" %>
                      <% end %>
                    </li>
                  <% end %>

                  <% if policy(:work).index? %>
                    <li><%= link_to works_path do %>
                      <span class="glyphicon glyphicon-saved"></span>&nbsp;<%=t "pages.work.index.title" %>
                      <% end %>
                    </li>
                  <% end %>

                </ul>
              </li>
            <% end %>

            <li><%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-edit"></span>&nbsp;<%= current_user.name %>
              <% end %>
            </li>
            <li><%= link_to destroy_user_session_path, :method=>'delete' do %>
              <span class="glyphicon glyphicon-log-out"></span>&nbsp;<%=t "devise.link_to.sign_out" %>
              <% end %>
            </li>
          <% else %>
            <%# if request_from_the_security_area? %>
              <li><%= link_to new_user_session_path do %>
                <span class="glyphicon glyphicon-log-in"></span>&nbsp;<%=t "devise.link_to.sign_in" %>
                <% end %>
              </li>
            <%# end %>
          <% end %>
        </ul>

      </nav>
    </div>
  </div>
</header>


