<% if user_signed_in? %>
  <% if policy(:errand).index? || policy(:event).index? || policy(:project).index? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=t "pages.charts" %> <span class="caret"></span></a>

      <ul class="dropdown-menu">
        <% if policy(:errand).index? %>
          <li><%= link_to show_charts_errands_path do %>
            <span class="glyphicon glyphicon-signal"></span>&nbsp;<%=t "pages.errand.index.title" %>
            <% end %>
          </li>
        <% end %>

        <% if policy(:event).index? %>
          <li><%= link_to show_charts_events_path do %>
            <span class="glyphicon glyphicon-signal"></span>&nbsp;<%=t "pages.event.index.title" %>
            <% end %>
          </li>
        <% end %>

        <% if policy(:project).index? %>
          <li><%= link_to show_charts_projects_path do %>
            <span class="glyphicon glyphicon-signal"></span>&nbsp;<%=t "pages.project.index.title" %>
            <% end %>
          </li>
        <% end %>

      </ul>
    </li>
  <% end %>

  <% if policy(:enrollment).index? %>
    <li><%= link_to enrollments_path do %>
      <span class="glyphicon glyphicon-briefcase"></span>&nbsp;<%=t "pages.enrollment.index.title" %>
      <% end %>
    </li>
  <% end %>

  <% if policy(:errand).index? %>
    <li><%= link_to errands_path do %>
      <span class="glyphicon glyphicon-tasks"></span>&nbsp;<%=t "pages.errand.index.title" %>
      <% end %>
    </li>
  <% end %>

  <% if policy(:event).index? %>
    <li><%= link_to events_path do %>
      <span class="glyphicon glyphicon-calendar"></span>&nbsp;<%=t "pages.event.index.title" %>
      <% end %>
    </li>
  <% end %>

  <% if policy(:project).index? %>
    <li><%= link_to projects_path do %>
      <span class="glyphicon glyphicon-book"></span>&nbsp;<%=t "pages.project.index.title" %>
      <% end %>
    </li>
  <% end %>

  <% if policy(:customer).index? %>
    <li><%= link_to customers_path do %>
      <span class="glyphicon glyphicon-flag"></span>&nbsp;<%=t "pages.customer.index.title" %>
      <% end %>
    </li>
  <% end %>

<% end %>
