<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PROCA" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PROCA" %>">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="site">
    <%= render 'layouts/header' %>
    <%= yield(:upper_part_page) %>
    <main class="site-content">
      <%= render 'layouts/messages' %>
      <%= yield :form_errors %>       
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
