<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "POLA" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "POLA" %>">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>

    <script src="https://mapy.geoportal.gov.pl/iMapLite/js/imapLiteApi-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://mapy.geoportal.gov.pl/iMapLite/js/imapLiteApi-coreEx.js" type="text/javascript" charset="utf-8"></script>

    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>

    <script src="https://code.highcharts.com/maps/modules/map.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>

    <%= yield(:javascript) %> 

  </head>

  <body class="site">
    <%= render 'layouts/header' %>
    <%= yield(:upper_part_page) %>
    <main class="site-content">
      <%= render 'layouts/messages' %>
      <%= yield(:form_errors) %>       
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
