<!DOCTYPE html>
<html>
  <head>
    <title>Proca</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield(:upper_part_page) %>
    <main>
      <%= render 'layouts/messages' %>
      <%= yield :form_errors %>       
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <div class="container">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
