<p id="notice"><%= notice %></p>

<p>
  <strong>Point file:</strong>
  <%= @zs_point.point_file %>
</p>

<p>
  <strong>Zs 2:</strong>
  <%= @zs_point.zs_2 %>
</p>

<%= link_to 'Edit', edit_zs_point_path(@zs_point) %> |
<%= link_to 'Back', zs_points_path %>
